* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #000;
}
#banner img{
	width: 100%;
}
#banner{
	width: 100%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: auto;
}
#nevbar li a{
	display: inline;
	float: left;
	line-height: 30px;
	font-size: 2em;
	padding:auto;
	background-color: #000000;
	color: white;
	font-family: Times;
}
#nevbar ul{
	width: 100%;
}
a{
	text-decoration: none;
}